<div class="layui-form" style="padding: 20px 0 0 0;">
    <div class="layui-form-item">
        <label class="layui-form-label">用户名</label>
        <div class="layui-input-inline">
            <input type="text" name="name" value="{{g .user.name}}" lay-verify="required" placeholder="请输入用户名"
                   autocomplete="off"
                   class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">邮箱</label>
        <div class="layui-input-inline">
            <input type="text" name="email" value="{{g .user.email}}" lay-verify="email" lay-verify="required"
                   placeholder="请输入邮箱" autocomplete="off"
                   class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">手机号码</label>
        <div class="layui-input-inline">
            <input type="text" name="phone" value="{{g .user.phone}}" lay-verify="phone" lay-verify="required"
                   placeholder="请输入号码" autocomplete="off"
                   class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">头像</label>
        <div class="layui-input-inline">
            <input type="text" name="avatar" value="{{g .user.avatar}}" lay-verify="required" placeholder=""
                   autocomplete="off"
                   class="layui-input" disabled>
            {{g if .user.avatar}}
            <img src="{{g .user.avatar}}" alt="头像" class="layui-upload-img">
            {{g end}}
        </div>
        <button style="float: left;" type="button" class="layui-btn" id="upload_image">上传图片</button>
    </div>
    <div class="layui-form-item layui-hide">
        <input type="button" lay-submit lay-filter="LAY-user-front-submit" id="LAY-user-front-submit" value="确认">
    </div>
</div>

<script>
    layui.config({
        base: '/static/admin/layuiadmin/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['index', 'form', 'upload'], function () {
        var $ = layui.$
            , form = layui.form
            , upload = layui.upload;

        upload.render({
            elem: '#upload_image'
            , url: '/admin/upload'
            , accept: 'images'
            , acceptMime: 'image/*'
            , data: {type: "avatar"}
            , done: function (res) {
                $(this.item).prev("div").children("input").val(res.data.src)
                var src = $(this.item).prev("div").find("img").attr('src')
                if (typeof (src) == "undefined") {
                    $(this.item).prev("div").append('<img src="' + res.data.src + '" alt="头像" class="layui-upload-img">')
                } else {
                    $(this.item).prev("div").find("img").attr('src', res.data.src)
                }
            }
            , error: function (res) {
                console.log(res)
            }
        });
    })
</script>